label[for].for-chk-btn {
	//position      : relative;
	padding       : 5px 10px;
	border-radius : 5px;
	width         : 40px;
	height        : 20px;
	line-height   : 20px;
	text-align    : center;
	color         : #FFFFFF;
	opacity       : 1;
}

label.hit-btn {
	background : #000000;
}

label.hit-btn:before {
	content : 'Hit';
}

label.stay-btn:before {
	content : 'Stay';
}

label.busted {
	color       : #000000 !important;
	font-weight : bolder;
	display     : none;

	&:before {
		content : 'Busted';
	}
}

label.stay-btn {
	background : #CC0000;
}

.stack-btns {
	& * {
		position   : absolute;
		display    : inline-block;
		text-align : center;
	}
}

#check-1:checked ~ #visible-playing-field .stack-btns label[for=check-1]:not(:first-of-type) {
	display : none;
}

#check-2:checked ~ #visible-playing-field .stack-btns label[for=check-2]:not(:first-of-type) {
	display : none;
}

#check-3:checked ~ #visible-playing-field .stack-btns label[for=check-3]:not(:first-of-type) {
	display : none;
}

#check-4:checked ~ #visible-playing-field .stack-btns label[for=check-4]:not(:first-of-type) {
	display : none;
}

#check-5:checked ~ #visible-playing-field .stack-btns label[for=check-5]:not(:first-of-type) {
	display : none;
}

#check-6:checked ~ #visible-playing-field .stack-btns label[for=check-6]:not(:first-of-type) {
	display : none;
}

#check-7:checked ~ #visible-playing-field .stack-btns label[for=check-7]:not(:first-of-type) {
	display : none;
}