@import "variables";

#start:checked {

}

label[for=start] {
	padding       : 10px 20px;
	background    : #AE705E;
	border-radius : 5px;
	width         : 50px;
	height        : 20px;
	text-align    : center;
	display       : inline-block;
	font-weight   : bold;
	color         : #FFFFFF;
	float         : right;
	margin        : 50px;
	top           : 0;
	right         : 0;
	position      : absolute;
}

.cards {
	width      : 100vw;
	text-align : center;

	.card {
		display          : inline-block;
		position         : absolute;
		transform-origin : 75% 0;
	}
}

#start {
	opacity : 0;

	&:not(:checked) {
		~ *, ~ .cards .card {
			opacity   : 0;
			transform : rotateZ(0deg);
		}
	}

	&:checked {
		~ *, ~ .cards .card {
			opacity                    : 1;
			transition-property        : transform, opacity;
			transition-timing-function : ease;
			transition-duration        : 1s;
		}

		$delay : 0;
		$targetDeg : 180 * 1 / 3;
		$degIncrement : $targetDeg / length($cards);
		$deg : $targetDeg / -2;
		@each $card in $cards {
			$value : #{nth($card, 1)};
			$suit : #{nth($card, 2)};
			~ .cards .card.#{$value}.#{$suit} {
				transition-delay : #{$delay}ms;
				transform        : rotateZ(#{$deg}deg);
			}

			$delay : $delay + 100;
			$deg : $deg + $degIncrement;
		}
	}
}