$cards : two cloves, three cloves, four cloves, four hearts, five hearts, six diamonds, six hearts, seven diamonds, seven hearts, seven spades, eight diamonds, eight hearts, eight spades, nine diamonds, nine spades, ten diamonds, ten spades, jack diamonds, queen diamonds, white card;
$cardWidth : 100px;
$cardHeight : 145px;