$cards : seven hearts, ten diamonds, ten spades, jack diamonds, seven spades, five hearts,  /*PLAYS START HERE*/ nine spades, six hearts, seven diamonds, eight spades, two cloves, three cloves, four cloves, four hearts, six diamonds,eight hearts, eight diamonds, nine diamonds, queen diamonds;
$cardWidth : 100px;
$cardHeight : 145px;