$cards : two cloves, three cloves, four cloves, four hearts, five hearts, six diamonds, /*PLAYS START HERE*/ nine spades, six hearts, seven diamonds, eight spades, seven hearts, seven spades,  eight hearts, eight diamonds, nine diamonds,  ten diamonds, ten spades, jack diamonds, queen diamonds;
$cardWidth : 100px;
$cardHeight : 145px;