body {
    width: 95%;
    height: auto;
}

#header {
    padding: 5px;
    overflow: auto;
    top: 0;
}

#game-container {
    border: 3px black dashed;
    padding: 20px;
    position: relative;
    top: 30px;
}

#player1 {
    border: 3px black dashed;
    position: absolute;
    top: 250px;
    left: 0;
}

#player2 {
    border: 3px black dashed;
    position: absolute;
    left: 470px;
    bottom: -500px;
    overflow: auto;
}

#player3 {
    border: 3px black dashed;
    position: absolute;
    top: 250px;
    right: 0;
}
