@import "variables";
@import "dealer";
@import "button_positions";

.chk-button {
	&:checked {
		//visibility : hidden;
	}
}

@mixin hidePlayerBtns($checkbox, $player) {
	##{$checkbox}:checked ~ #visible-playing-field #player#{$player} label[for] {
		&:not(.busted) {
			display : none;
		}
	}
}

@mixin hidePlayerBtnsUntilChecked($checkbox, $player) {
	##{$checkbox}:not(:checked) ~ #visible-playing-field #player#{$player} label[for] {
		display : none;
	}
}

@mixin showBusted($player) {
	#visible-playing-field #player#{$player} .busted {
		display : block;
	}
}

@mixin playerWins($player) {
	#player#{$player}-wins {
		font-size : 7vw;
	}
}

/*cases for when there is hit for the for 1 ,2 and 3 of the players*/
/*when first hit is only selected*/
#check-1:checked ~ {
	@include showBusted(1);
	.cards .card.nine.spades {
		@include leftDeck(-10);
	}
}

@include hidePlayerBtns("check-2", 1);
@include hidePlayerBtns("check-4", 2);
@include hidePlayerBtns("check-7", 3);
@include hidePlayerBtnsUntilChecked("check-2", 2);
@include hidePlayerBtnsUntilChecked("check-4", 3);

#check-3:checked ~ {
	@include showBusted(2);
	.cards .card.six.hearts {
		@include bottomDeck(-10);
	}
}

#check-5:checked ~ .cards .card.three.cloves {
	@include rightDeck(-5);
}

#check-6:checked ~ {
	@include showBusted(3);
	.cards .card.seven.diamonds {
		@include rightDeck(5);
	}
}

#check-7:checked ~ {
	#visible-playing-field {
		opacity : 0;
	}
	#check-1:checked ~ {
		#check-3:checked ~ {
			#check-6:not(:checked) ~ {
				@include playerWins(3);
			}
			#check-6:checked ~ {
				@include playerWins(2);
			}
		}
		#check-3:not(:checked) ~ {
			#check-5:checked ~ {
				#check-6:not(:checked) ~ {
					@include playerWins(3);
				}
				#check-6:checked ~ {
					@include playerWins(2);
				}
			}
			#check-5:not(:checked) ~ {
				@include playerWins(2);
			}
		}
	}
	#check-1:not(:checked) ~ {
		#check-3:checked ~ {
			#check-5:checked ~ {
				@include playerWins(3);
			}
			#check-5:not(:checked) ~ {
				@include playerWins(1);
			}
		}
		#check-3:not(:checked) ~ {
			#check-5:checked ~ {
				#check-6:not(:checked) ~ {
					@include playerWins(3);
				}
				#check-6:checked ~ {
					@include playerWins("1-2");
				}
			}
			#check-5:not(:checked) ~ {
				@include playerWins(3);
			}
		}
	}
}

.wins {
	position   : absolute;
	width      : 95vw;
	height     : 100vh;
	float      : left;
	text-align : center;
	top        : 35vh;
	font-size  : 0;
}

/*Card Backgrounds*/
.cards {
	.card {
		@each $card in $cards {
			$value : #{nth($card, 1)};
			$suit : #{nth($card, 2)};
			&.#{$value}.#{$suit} {
				background-image : url("card_imgs/" + $value + "_" + $suit + ".jpg");
			}
		}
	}
}