label[for=start] {
  padding: 10px 20px;
  background: #AE705E;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: #FFFFFF;
  float: right;
  margin: 50px;
  top: 0;
  right: 0;
  position: absolute; }

.cards {
  width: 100vw;
  text-align: center;
  margin: auto; }
  .cards .card {
    display: inline-block;
    position: absolute;
    transform-origin: 75% 0;
    top: 10vh;
    left: 50vw;
    width: 100px;
    height: 145px;
    margin-left: -100px;
    border: 3px solid black;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

#start {
  opacity: 0; }
  #start:not(:checked) ~ *, #start:not(:checked) ~ .cards .card {
    opacity: 0; }
  #start:not(:checked) ~ .cards .card {
    transform: rotateZ(-30deg); }
  #start:not(:checked) ~ label[for=start] {
    opacity: 1; }
  #start:checked ~ *, #start:checked ~ .cards .card {
    opacity: 1;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1000ms; }
  #start:checked ~ label[for=start] {
    transition: all 1s ease 0s, top 0s ease 1000ms, opacity 1000ms ease 0s; }
  #start:checked ~ .cards .card.seven.hearts {
    z-index: 1;
    transform: rotateZ(-30deg);
    animation-name: shuffle-seven-hearts, deal-seven-hearts;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 6500ms; }
    #start:checked ~ .cards .card.seven.hearts:hover {
      margin-left: -70px; }
@keyframes shuffle-seven-hearts {
  10% {
    margin-left: 6vw;
    margin-top: 26.66667vh; }
  20% {
    margin-left: -3vw;
    margin-top: 44.66667vh; }
  30% {
    margin-left: -23vw;
    margin-top: 55.66667vh; }
  40% {
    margin-left: 13vw;
    margin-top: 41.66667vh; }
  50% {
    margin-left: -6vw;
    margin-top: 20.66667vh; }
  60% {
    margin-left: -14vw;
    margin-top: 56.66667vh; }
  70% {
    margin-left: -20vw;
    margin-top: 25.66667vh; }
  80% {
    margin-left: -14vw;
    margin-top: 29.66667vh; }
  90% {
    margin-left: -8vw;
    margin-top: 55.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-seven-hearts {
  100% {
    left: 10vw;
    top: 50vh;
    transform: rotateZ(260deg); } }
  #start:checked ~ .cards .card.ten.diamonds {
    z-index: 2;
    transform: rotateZ(-26.84211deg);
    animation-name: shuffle-ten-diamonds, deal-ten-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 6900ms; }
    #start:checked ~ .cards .card.ten.diamonds:hover {
      margin-top: -30px; }
@keyframes shuffle-ten-diamonds {
  10% {
    margin-left: -22vw;
    margin-top: 47.66667vh; }
  20% {
    margin-left: -7vw;
    margin-top: 32.66667vh; }
  30% {
    margin-left: -23vw;
    margin-top: 40.66667vh; }
  40% {
    margin-left: -12vw;
    margin-top: 27.66667vh; }
  50% {
    margin-left: 6vw;
    margin-top: 53.66667vh; }
  60% {
    margin-left: -15vw;
    margin-top: 26.66667vh; }
  70% {
    margin-left: -23vw;
    margin-top: 54.66667vh; }
  80% {
    margin-left: 3vw;
    margin-top: 31.66667vh; }
  90% {
    margin-left: 14vw;
    margin-top: 25.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-ten-diamonds {
  100% {
    left: 50vw;
    top: 90vh;
    transform: rotateZ(173.15789deg); } }
  #start:checked ~ .cards .card.ten.spades {
    z-index: 3;
    transform: rotateZ(-23.68421deg);
    animation-name: shuffle-ten-spades, deal-ten-spades;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 7300ms; }
    #start:checked ~ .cards .card.ten.spades:hover {
      margin-left: -130px; }
@keyframes shuffle-ten-spades {
  10% {
    margin-left: 9vw;
    margin-top: 18.66667vh; }
  20% {
    margin-left: -3vw;
    margin-top: 56.66667vh; }
  30% {
    margin-left: -18vw;
    margin-top: 47.66667vh; }
  40% {
    margin-left: 5vw;
    margin-top: 28.66667vh; }
  50% {
    margin-left: -12vw;
    margin-top: 29.66667vh; }
  60% {
    margin-left: 4vw;
    margin-top: 21.66667vh; }
  70% {
    margin-left: -21vw;
    margin-top: 36.66667vh; }
  80% {
    margin-left: -22vw;
    margin-top: 24.66667vh; }
  90% {
    margin-left: 3vw;
    margin-top: 49.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-ten-spades {
  100% {
    left: 90vw;
    top: 55vh;
    transform: rotateZ(76.31579deg); } }
  #start:checked ~ .cards .card.jack.diamonds {
    z-index: 4;
    transform: rotateZ(-20.52632deg);
    animation-name: shuffle-jack-diamonds, deal-jack-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 7700ms; }
    #start:checked ~ .cards .card.jack.diamonds:hover {
      margin-left: -70px; }
@keyframes shuffle-jack-diamonds {
  10% {
    margin-left: -13vw;
    margin-top: 47.66667vh; }
  20% {
    margin-left: -23vw;
    margin-top: 27.66667vh; }
  30% {
    margin-left: -4vw;
    margin-top: 49.66667vh; }
  40% {
    margin-left: 15vw;
    margin-top: 33.66667vh; }
  50% {
    margin-left: 13vw;
    margin-top: 46.66667vh; }
  60% {
    margin-left: -19vw;
    margin-top: 24.66667vh; }
  70% {
    margin-left: -24vw;
    margin-top: 44.66667vh; }
  80% {
    margin-left: 0vw;
    margin-top: 40.66667vh; }
  90% {
    margin-left: 0vw;
    margin-top: 45.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-jack-diamonds {
  100% {
    left: 10vw;
    top: 50vh;
    transform: rotateZ(269.47368deg); } }
  #start:checked ~ .cards .card.seven.spades {
    z-index: 5;
    transform: rotateZ(-17.36842deg);
    animation-name: shuffle-seven-spades, deal-seven-spades;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8100ms; }
    #start:checked ~ .cards .card.seven.spades:hover {
      margin-top: -30px; }
@keyframes shuffle-seven-spades {
  10% {
    margin-left: -20vw;
    margin-top: 23.66667vh; }
  20% {
    margin-left: 11vw;
    margin-top: 49.66667vh; }
  30% {
    margin-left: 15vw;
    margin-top: 37.66667vh; }
  40% {
    margin-left: 14vw;
    margin-top: 23.66667vh; }
  50% {
    margin-left: -13vw;
    margin-top: 56.66667vh; }
  60% {
    margin-left: -11vw;
    margin-top: 46.66667vh; }
  70% {
    margin-left: -2vw;
    margin-top: 20.66667vh; }
  80% {
    margin-left: -23vw;
    margin-top: 32.66667vh; }
  90% {
    margin-left: -9vw;
    margin-top: 36.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-seven-spades {
  100% {
    left: 50vw;
    top: 90vh;
    transform: rotateZ(182.63158deg); } }
  #start:checked ~ .cards .card.five.hearts {
    z-index: 6;
    transform: rotateZ(-14.21053deg);
    animation-name: shuffle-five-hearts, deal-five-hearts;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8500ms; }
    #start:checked ~ .cards .card.five.hearts:hover {
      margin-left: -130px; }
@keyframes shuffle-five-hearts {
  10% {
    margin-left: -23vw;
    margin-top: 50.66667vh; }
  20% {
    margin-left: 15vw;
    margin-top: 23.66667vh; }
  30% {
    margin-left: 11vw;
    margin-top: 45.66667vh; }
  40% {
    margin-left: -22vw;
    margin-top: 26.66667vh; }
  50% {
    margin-left: 9vw;
    margin-top: 49.66667vh; }
  60% {
    margin-left: -4vw;
    margin-top: 45.66667vh; }
  70% {
    margin-left: 4vw;
    margin-top: 47.66667vh; }
  80% {
    margin-left: -8vw;
    margin-top: 36.66667vh; }
  90% {
    margin-left: -10vw;
    margin-top: 50.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
@keyframes deal-five-hearts {
  100% {
    left: 90vw;
    top: 55vh;
    transform: rotateZ(85.78947deg); } }
  #start:checked ~ .cards .card.nine.spades {
    z-index: 7;
    transform: rotateZ(-11.05263deg);
    animation-name: shuffle-nine-spades, deal-nine-spades;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-nine-spades {
  10% {
    margin-left: -12vw;
    margin-top: 27.66667vh; }
  20% {
    margin-left: -21vw;
    margin-top: 35.66667vh; }
  30% {
    margin-left: -1vw;
    margin-top: 33.66667vh; }
  40% {
    margin-left: -1vw;
    margin-top: 27.66667vh; }
  50% {
    margin-left: -14vw;
    margin-top: 39.66667vh; }
  60% {
    margin-left: -12vw;
    margin-top: 47.66667vh; }
  70% {
    margin-left: -20vw;
    margin-top: 21.66667vh; }
  80% {
    margin-left: -12vw;
    margin-top: 55.66667vh; }
  90% {
    margin-left: -4vw;
    margin-top: 43.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.six.hearts {
    z-index: 8;
    transform: rotateZ(-7.89474deg);
    animation-name: shuffle-six-hearts, deal-six-hearts;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-six-hearts {
  10% {
    margin-left: 14vw;
    margin-top: 34.66667vh; }
  20% {
    margin-left: 12vw;
    margin-top: 48.66667vh; }
  30% {
    margin-left: 0vw;
    margin-top: 37.66667vh; }
  40% {
    margin-left: 0vw;
    margin-top: 48.66667vh; }
  50% {
    margin-left: 0vw;
    margin-top: 52.66667vh; }
  60% {
    margin-left: -23vw;
    margin-top: 46.66667vh; }
  70% {
    margin-left: -22vw;
    margin-top: 53.66667vh; }
  80% {
    margin-left: 0vw;
    margin-top: 24.66667vh; }
  90% {
    margin-left: -12vw;
    margin-top: 47.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.three.cloves {
    z-index: 9;
    transform: rotateZ(-4.73684deg);
    animation-name: shuffle-three-cloves, deal-three-cloves;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-three-cloves {
  10% {
    margin-left: -3vw;
    margin-top: 54.66667vh; }
  20% {
    margin-left: 1vw;
    margin-top: 25.66667vh; }
  30% {
    margin-left: -3vw;
    margin-top: 45.66667vh; }
  40% {
    margin-left: 1vw;
    margin-top: 50.66667vh; }
  50% {
    margin-left: -20vw;
    margin-top: 41.66667vh; }
  60% {
    margin-left: 0vw;
    margin-top: 24.66667vh; }
  70% {
    margin-left: 8vw;
    margin-top: 34.66667vh; }
  80% {
    margin-left: 2vw;
    margin-top: 27.66667vh; }
  90% {
    margin-left: -5vw;
    margin-top: 37.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.seven.diamonds {
    z-index: 10;
    transform: rotateZ(-1.57895deg);
    animation-name: shuffle-seven-diamonds, deal-seven-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-seven-diamonds {
  10% {
    margin-left: 14vw;
    margin-top: 24.66667vh; }
  20% {
    margin-left: 9vw;
    margin-top: 49.66667vh; }
  30% {
    margin-left: -17vw;
    margin-top: 43.66667vh; }
  40% {
    margin-left: -7vw;
    margin-top: 31.66667vh; }
  50% {
    margin-left: 3vw;
    margin-top: 45.66667vh; }
  60% {
    margin-left: 13vw;
    margin-top: 51.66667vh; }
  70% {
    margin-left: -1vw;
    margin-top: 26.66667vh; }
  80% {
    margin-left: -15vw;
    margin-top: 26.66667vh; }
  90% {
    margin-left: 3vw;
    margin-top: 45.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.eight.spades {
    z-index: 11;
    transform: rotateZ(1.57895deg);
    animation-name: shuffle-eight-spades, deal-eight-spades;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-eight-spades {
  10% {
    margin-left: -10vw;
    margin-top: 34.66667vh; }
  20% {
    margin-left: -24vw;
    margin-top: 28.66667vh; }
  30% {
    margin-left: 14vw;
    margin-top: 37.66667vh; }
  40% {
    margin-left: -19vw;
    margin-top: 47.66667vh; }
  50% {
    margin-left: 11vw;
    margin-top: 31.66667vh; }
  60% {
    margin-left: 10vw;
    margin-top: 28.66667vh; }
  70% {
    margin-left: -10vw;
    margin-top: 54.66667vh; }
  80% {
    margin-left: 9vw;
    margin-top: 50.66667vh; }
  90% {
    margin-left: -16vw;
    margin-top: 29.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.two.cloves {
    z-index: 12;
    transform: rotateZ(4.73684deg);
    animation-name: shuffle-two-cloves, deal-two-cloves;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-two-cloves {
  10% {
    margin-left: 3vw;
    margin-top: 47.66667vh; }
  20% {
    margin-left: 6vw;
    margin-top: 45.66667vh; }
  30% {
    margin-left: 7vw;
    margin-top: 19.66667vh; }
  40% {
    margin-left: 8vw;
    margin-top: 48.66667vh; }
  50% {
    margin-left: -10vw;
    margin-top: 27.66667vh; }
  60% {
    margin-left: 1vw;
    margin-top: 47.66667vh; }
  70% {
    margin-left: -2vw;
    margin-top: 34.66667vh; }
  80% {
    margin-left: -13vw;
    margin-top: 42.66667vh; }
  90% {
    margin-left: 5vw;
    margin-top: 44.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.four.cloves {
    z-index: 13;
    transform: rotateZ(7.89474deg);
    animation-name: shuffle-four-cloves, deal-four-cloves;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-four-cloves {
  10% {
    margin-left: -8vw;
    margin-top: 56.66667vh; }
  20% {
    margin-left: 9vw;
    margin-top: 42.66667vh; }
  30% {
    margin-left: 0vw;
    margin-top: 51.66667vh; }
  40% {
    margin-left: -23vw;
    margin-top: 52.66667vh; }
  50% {
    margin-left: -22vw;
    margin-top: 24.66667vh; }
  60% {
    margin-left: -13vw;
    margin-top: 22.66667vh; }
  70% {
    margin-left: -13vw;
    margin-top: 29.66667vh; }
  80% {
    margin-left: -4vw;
    margin-top: 42.66667vh; }
  90% {
    margin-left: 0vw;
    margin-top: 26.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.four.hearts {
    z-index: 14;
    transform: rotateZ(11.05263deg);
    animation-name: shuffle-four-hearts, deal-four-hearts;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-four-hearts {
  10% {
    margin-left: 4vw;
    margin-top: 22.66667vh; }
  20% {
    margin-left: 11vw;
    margin-top: 54.66667vh; }
  30% {
    margin-left: -16vw;
    margin-top: 44.66667vh; }
  40% {
    margin-left: 15vw;
    margin-top: 21.66667vh; }
  50% {
    margin-left: -10vw;
    margin-top: 22.66667vh; }
  60% {
    margin-left: -18vw;
    margin-top: 56.66667vh; }
  70% {
    margin-left: 15vw;
    margin-top: 30.66667vh; }
  80% {
    margin-left: -1vw;
    margin-top: 48.66667vh; }
  90% {
    margin-left: 4vw;
    margin-top: 26.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.six.diamonds {
    z-index: 15;
    transform: rotateZ(14.21053deg);
    animation-name: shuffle-six-diamonds, deal-six-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-six-diamonds {
  10% {
    margin-left: -19vw;
    margin-top: 21.66667vh; }
  20% {
    margin-left: -4vw;
    margin-top: 52.66667vh; }
  30% {
    margin-left: -9vw;
    margin-top: 33.66667vh; }
  40% {
    margin-left: 2vw;
    margin-top: 22.66667vh; }
  50% {
    margin-left: -2vw;
    margin-top: 49.66667vh; }
  60% {
    margin-left: 7vw;
    margin-top: 22.66667vh; }
  70% {
    margin-left: 5vw;
    margin-top: 56.66667vh; }
  80% {
    margin-left: 5vw;
    margin-top: 48.66667vh; }
  90% {
    margin-left: -20vw;
    margin-top: 45.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.eight.hearts {
    z-index: 16;
    transform: rotateZ(17.36842deg);
    animation-name: shuffle-eight-hearts, deal-eight-hearts;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-eight-hearts {
  10% {
    margin-left: -22vw;
    margin-top: 49.66667vh; }
  20% {
    margin-left: 2vw;
    margin-top: 38.66667vh; }
  30% {
    margin-left: 3vw;
    margin-top: 41.66667vh; }
  40% {
    margin-left: -20vw;
    margin-top: 49.66667vh; }
  50% {
    margin-left: -10vw;
    margin-top: 26.66667vh; }
  60% {
    margin-left: 10vw;
    margin-top: 46.66667vh; }
  70% {
    margin-left: -18vw;
    margin-top: 29.66667vh; }
  80% {
    margin-left: -11vw;
    margin-top: 21.66667vh; }
  90% {
    margin-left: 4vw;
    margin-top: 30.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.eight.diamonds {
    z-index: 17;
    transform: rotateZ(20.52632deg);
    animation-name: shuffle-eight-diamonds, deal-eight-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-eight-diamonds {
  10% {
    margin-left: -15vw;
    margin-top: 25.66667vh; }
  20% {
    margin-left: -8vw;
    margin-top: 56.66667vh; }
  30% {
    margin-left: -18vw;
    margin-top: 53.66667vh; }
  40% {
    margin-left: 12vw;
    margin-top: 55.66667vh; }
  50% {
    margin-left: 2vw;
    margin-top: 47.66667vh; }
  60% {
    margin-left: 11vw;
    margin-top: 49.66667vh; }
  70% {
    margin-left: -9vw;
    margin-top: 48.66667vh; }
  80% {
    margin-left: 10vw;
    margin-top: 17.66667vh; }
  90% {
    margin-left: 11vw;
    margin-top: 45.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.nine.diamonds {
    z-index: 18;
    transform: rotateZ(23.68421deg);
    animation-name: shuffle-nine-diamonds, deal-nine-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-nine-diamonds {
  10% {
    margin-left: -9vw;
    margin-top: 39.66667vh; }
  20% {
    margin-left: -20vw;
    margin-top: 40.66667vh; }
  30% {
    margin-left: -10vw;
    margin-top: 35.66667vh; }
  40% {
    margin-left: 15vw;
    margin-top: 21.66667vh; }
  50% {
    margin-left: -23vw;
    margin-top: 17.66667vh; }
  60% {
    margin-left: -17vw;
    margin-top: 36.66667vh; }
  70% {
    margin-left: 12vw;
    margin-top: 21.66667vh; }
  80% {
    margin-left: 12vw;
    margin-top: 44.66667vh; }
  90% {
    margin-left: -19vw;
    margin-top: 45.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ .cards .card.queen.diamonds {
    z-index: 19;
    transform: rotateZ(26.84211deg);
    animation-name: shuffle-queen-diamonds, deal-queen-diamonds;
    animation-duration: 5000ms, 1000ms;
    animation-fill-mode: none, forwards;
    animation-delay: 1000ms, 8900ms; }
@keyframes shuffle-queen-diamonds {
  10% {
    margin-left: 7vw;
    margin-top: 45.66667vh; }
  20% {
    margin-left: 12vw;
    margin-top: 21.66667vh; }
  30% {
    margin-left: 11vw;
    margin-top: 35.66667vh; }
  40% {
    margin-left: -9vw;
    margin-top: 54.66667vh; }
  50% {
    margin-left: 2vw;
    margin-top: 45.66667vh; }
  60% {
    margin-left: -8vw;
    margin-top: 34.66667vh; }
  70% {
    margin-left: 12vw;
    margin-top: 55.66667vh; }
  80% {
    margin-left: -8vw;
    margin-top: 35.66667vh; }
  90% {
    margin-left: 0vw;
    margin-top: 18.66667vh; }
  20% {
    content: initial; }
  30% {
    content: initial; }
  40% {
    content: initial; }
  50% {
    content: initial; }
  60% {
    content: initial; }
  70% {
    content: initial; }
  80% {
    content: initial; }
  90% {
    content: initial; }
  100% {
    content: initial; } }
  #start:checked ~ label[for=start] {
    opacity: 0;
    top: -1000%; }

label[for].for-chk-btn {
  padding: 5px 10px;
  border-radius: 5px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1; }

label.hit-btn {
  background: #000000; }

label.hit-btn:before {
  content: 'Hit'; }

label.stay-btn:before {
  content: 'Stay'; }

label.busted {
  color: #000000 !important;
  font-weight: bolder;
  display: none; }
  label.busted:before {
    content: 'Busted'; }

label.stay-btn {
  background: #CC0000; }

.stack-btns * {
  position: absolute;
  display: inline-block;
  text-align: center; }

#check-1:checked ~ #visible-playing-field .stack-btns label[for=check-1]:not(:first-of-type) {
  display: none; }

#check-2:checked ~ #visible-playing-field .stack-btns label[for=check-2]:not(:first-of-type) {
  display: none; }

#check-3:checked ~ #visible-playing-field .stack-btns label[for=check-3]:not(:first-of-type) {
  display: none; }

#check-4:checked ~ #visible-playing-field .stack-btns label[for=check-4]:not(:first-of-type) {
  display: none; }

#check-5:checked ~ #visible-playing-field .stack-btns label[for=check-5]:not(:first-of-type) {
  display: none; }

#check-6:checked ~ #visible-playing-field .stack-btns label[for=check-6]:not(:first-of-type) {
  display: none; }

#check-7:checked ~ #visible-playing-field .stack-btns label[for=check-7]:not(:first-of-type) {
  display: none; }

/*cases for when there is hit for the for 1 ,2 and 3 of the players*/
/*when first hit is only selected*/
#check-1:checked ~ #visible-playing-field #player1 .busted {
  display: block; }
#check-1:checked ~ .cards .card.nine.spades {
  left: 10vw;
  top: 50vh;
  transform: rotateZ(280deg); }

#check-2:checked ~ #visible-playing-field #player1 label[for]:not(.busted) {
  display: none; }

#check-4:checked ~ #visible-playing-field #player2 label[for]:not(.busted) {
  display: none; }

#check-7:checked ~ #visible-playing-field #player3 label[for]:not(.busted) {
  display: none; }

#check-2:not(:checked) ~ #visible-playing-field #player2 label[for] {
  display: none; }

#check-4:not(:checked) ~ #visible-playing-field #player3 label[for] {
  display: none; }

#check-3:checked ~ #visible-playing-field #player2 .busted {
  display: block; }
#check-3:checked ~ .cards .card.six.hearts {
  left: 50vw;
  top: 90vh;
  transform: rotateZ(190deg); }

#check-5:checked ~ .cards .card.three.cloves {
  left: 90vw;
  top: 55vh;
  transform: rotateZ(95deg); }

#check-6:checked ~ #visible-playing-field #player3 .busted {
  display: block; }
#check-6:checked ~ .cards .card.seven.diamonds {
  left: 90vw;
  top: 55vh;
  transform: rotateZ(105deg); }

#check-7:checked ~ #visible-playing-field {
  opacity: 0; }
#check-7:checked ~ #check-1:checked ~ #check-3:checked ~ #check-6:not(:checked) ~ #player3-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:checked ~ #check-3:checked ~ #check-6:checked ~ #player2-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:checked ~ #check-3:not(:checked) ~ #check-5:checked ~ #check-6:not(:checked) ~ #player3-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:checked ~ #check-3:not(:checked) ~ #check-5:checked ~ #check-6:checked ~ #player2-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:checked ~ #check-3:not(:checked) ~ #check-5:not(:checked) ~ #player2-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:not(:checked) ~ #check-3:checked ~ #check-5:checked ~ #player3-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:not(:checked) ~ #check-3:checked ~ #check-5:not(:checked) ~ #player1-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:not(:checked) ~ #check-3:not(:checked) ~ #check-5:checked ~ #check-6:not(:checked) ~ #player3-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:not(:checked) ~ #check-3:not(:checked) ~ #check-5:checked ~ #check-6:checked ~ #player1-2-wins {
  font-size: 7vw; }
#check-7:checked ~ #check-1:not(:checked) ~ #check-3:not(:checked) ~ #check-5:not(:checked) ~ #player3-wins {
  font-size: 7vw; }

.wins {
  position: absolute;
  width: 95vw;
  height: 100vh;
  float: left;
  text-align: center;
  top: 35vh;
  font-size: 0; }

/*Card Backgrounds*/
.cards .card.seven.hearts {
  background-image: url("card_imgs/seven_hearts.jpg"); }
.cards .card.ten.diamonds {
  background-image: url("card_imgs/ten_diamonds.jpg"); }
.cards .card.ten.spades {
  background-image: url("card_imgs/ten_spades.jpg"); }
.cards .card.jack.diamonds {
  background-image: url("card_imgs/jack_diamonds.jpg"); }
.cards .card.seven.spades {
  background-image: url("card_imgs/seven_spades.jpg"); }
.cards .card.five.hearts {
  background-image: url("card_imgs/five_hearts.jpg"); }
.cards .card.nine.spades {
  background-image: url("card_imgs/nine_spades.jpg"); }
.cards .card.six.hearts {
  background-image: url("card_imgs/six_hearts.jpg"); }
.cards .card.three.cloves {
  background-image: url("card_imgs/three_cloves.jpg"); }
.cards .card.seven.diamonds {
  background-image: url("card_imgs/seven_diamonds.jpg"); }
.cards .card.eight.spades {
  background-image: url("card_imgs/eight_spades.jpg"); }
.cards .card.two.cloves {
  background-image: url("card_imgs/two_cloves.jpg"); }
.cards .card.four.cloves {
  background-image: url("card_imgs/four_cloves.jpg"); }
.cards .card.four.hearts {
  background-image: url("card_imgs/four_hearts.jpg"); }
.cards .card.six.diamonds {
  background-image: url("card_imgs/six_diamonds.jpg"); }
.cards .card.eight.hearts {
  background-image: url("card_imgs/eight_hearts.jpg"); }
.cards .card.eight.diamonds {
  background-image: url("card_imgs/eight_diamonds.jpg"); }
.cards .card.nine.diamonds {
  background-image: url("card_imgs/nine_diamonds.jpg"); }
.cards .card.queen.diamonds {
  background-image: url("card_imgs/queen_diamonds.jpg"); }

/*# sourceMappingURL=main.css.map */
