.chk-button {
	&:checked {
		visibility : hidden;
	}
}

/*Case 1*/
	 #check-1:not(:checked) {
		 ~ #check-2:checked {
			 ~ #check-3:not(:checked) {
				 ~ #check-4:checked {
					 ~ #check-5:not(:checked) {
						 ~ #check-6:not(:checked) {
							 ~ #check-7:checked {
								 ~ .cards .card {
									 &.spades {
										 background-image: url("card_imgs/nine_diamonds.jpg");
									 }
									 &.diamonds {
										 background: pink none;
									 }
								 }
							 }
						 }
					 }
				 }
			 }
		 }
	 }


/*----------------------------*/

/*Case 2*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: darkseagreen none;
								}
								&.diamonds {
									background: darkorange none;
								}
							}
						}
					}
				}
			}
		}
	}
}


/*----------------------------*/

/*Case 3*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/
/*Case 4*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 5*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 6*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 7*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 8*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/
/*Case 9*/
#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}


/*----------------------------*/

/*Case 10*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 11*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/
/*Case 12*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:not(:checked) {
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 13*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:not(:checked) {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 14*/

#check-1:not(:checked) {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 15*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:checked{
					~ #check-6:not(:checked) {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/

/*Case 16*/

#check-1:checked {
	~ #check-2:checked {
		~ #check-3:checked {
			~ #check-4:checked {
				~ #check-5:checked {
					~ #check-6:checked {
						~ #check-7:checked {
							~ .cards .card {
								&.spades {
									background: blue none;
								}
								&.diamonds {
									background: pink none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*----------------------------*/


/*Card Backgrounds*/
.cards {
	.card {
		display          : inline-block;
		width            : 50px;
		height           : 100px;
		background-color : gray;

		$cards : two cloves, three cloves, four cloves, four hearts, five hearts, six diamonds, six hearts, seven diamonds, seven hearts, seven spades, eight diamonds, eight hearts, eight spades, nine diamonds, nine spades, ten diamonds, ten spades, jack diamonds, queen diamonds;
		@each $card in $cards {
			$value : #{nth($card, 1)};
			$suit : #{nth($card, 2)};
			&.#{$value}.#{$suit} {
				background-image : url("card_imgs/" + $value + "_" + $suit + ".jpg");
			}
		}
	}
}